<iframe src="<%= small_html_url%>" width="100%" height="750px"></iframe>
<ul>
  <div>
    <li><a target="_blank" href="<%= html_url%>">HTML of full jupyter notebook with data</a></li>
    <li><a target="_blank" href="<%= ipynb_url%>">ipynb of full jupyter notebook with data</a></li>
</ul>
