<div id="ttest_form" style="display:none"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <p>
    <b>Type of T-test:</b><br/>

    <div>
      <input checked type="radio" id="independent" name="ttest_type" onclick="$j('p#pmean').hide();$j('div#analysis_default_form').attr('chosen_test', 'ttest');"/>
      Independent
    </div>

    <div>
      <input type="radio" id="paired" name="ttest_type" onclick="$j('p#pmean').hide();$j('div#analysis_default_form').attr('chosen_test', 'paired_ttest');"/>
      Paired Sample
    </div>

    <div>
      <input type="radio" id="onesample" name="ttest_type" onclick="$j('p#pmean').show();$j('div#analysis_default_form').attr('chosen_test', 'one_ttest');"/>
      One Sample

      <p id="pmean" style="display:none">
       Population mean:<br/>
        <!-- to create a dictionary of analysis values use as name: analysis[popmean]. Not done because we get more nested dictionaries than needed -->
        <%= text_field_tag "analysis_popmean", nil %>
      </p>

    </div>
  </p>

</div>
<script type="text/javascript">
  function reset_values() {
      // Make first radio button (independent) T-test the default
      $j('input[name=ttest_type]:first').prop('checked', true);
      $j('p#pmean').hide();
  }
  $j(document).ready(function () {
      reset_values();
  })
</script>
