<div id="ipython_figure_container" class="spreadsheet_popup" style="display:none">
  <div class="spreadsheet_box_title">
    <div style="float: left">Plot from ipython notebook</div>
    <div style="float: right"><a href="#" onclick="cleanup_ipython_plot(); return false;">Close</a></div>
    <br style="clear:both"/>
  </div>
  <!--<div id="ipython_figure"></div>-->
</div>

<script type="text/javascript">
  $j( document ).ready(function() {
    $j('#export_ipython_png').click(function() {
      $j("#py_png_dl")[0].click();
    });
    $j('#export_ipython_nb').click(function() {
      $j("#ipynb_dl")[0].click();
    });
  });
  function cleanup_ipython_plot() {
  // letzt hinzugefügtes löschen
  $j('#ipython_figure_container').children().last().remove();
  $j('#ipython_figure_container').children().last().remove();
  $j('#ipython_figure_container').hide();

  //$j('#py_png_dl > img').remove();
  }

</script>
